.nav-bar__container
{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin-top: -30px;
    height: 120px;
    display: flex;
}
.nav-bar__logo
{
    color: black;
    font-size: 30px;
    margin-left: 70px;
    margin-top: 50px;
    cursor: pointer;
    font-style: italic;
}
.nav-bar__nav
{
    margin-left: 1000px;
    margin-top: -45px;
}
nav .nav-bar__Link
{
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin-left: 40px;
}
nav .nav-bar__Link:hover
{
    color: wheat;
}